---
import TeamMember from "./TeamMember.astro";

import { leads, engineering, design, pr, content } from "../../data/team";

interface Props {
  team: string;
}

const { team } = Astro.props;
---

{
  team ? (
    <h1 class="px-1 text-center text-3xl font-semibold dark:text-white md:text-5xl">
      {team}
    </h1>
  ) : null
}

<div
  class="grid w-full flex-wrap justify-items-center gap-y-4 md:grid-cols-2 lg:grid-cols-3"
>
  {
    (team === "The Board 💼" || team === "") &&
      leads.map((member) => {
        return (
          <TeamMember
            img={member.image}
            name={member.name}
            position={member.position}
            twitter={member.social.twitter}
            github={member.social.github}
            instagram={member.social.instagram}
            linkedin={member.social.linkedin}
          />
        );
      })
  }
  {
    team === "Tech Kids 💻" &&
      [...leads, ...engineering].map((member) => {
        if (member.position.includes("Engineering ")) {
          return (
            <TeamMember
              img={member.image}
              name={member.name}
              position={member.position}
              twitter={member.social.twitter}
              github={member.social.github}
              instagram={member.social.instagram}
              linkedin={member.social.linkedin}
            />
          );
        }
      })
  }
  {
    team === "Art Department 🎨" &&
      [...leads, ...design].map((member) => {
        if (member.position.includes("Design")) {
          return (
            <TeamMember
              img={member.image}
              name={member.name}
              position={member.position}
              twitter={member.social.twitter}
              github={member.social.github}
              instagram={member.social.instagram}
              linkedin={member.social.linkedin}
            />
          );
        }
      })
  }
  {
    team === "Communications and PR 📧" &&
      [...leads, ...pr].map((member) => {
        if (member.position.includes("Public Relations")) {
          return (
            <TeamMember
              img={member.image}
              name={member.name}
              position={member.position}
              twitter={member.social.twitter}
              github={member.social.github}
              instagram={member.social.instagram}
              linkedin={member.social.linkedin}
            />
          );
        }
      })
  }
  {
    team === "Content Creators 🤳" &&
      [...leads, ...content].map((member) => {
        if (
          member.position.includes("Content") ||
          member.position.includes("Account")
        ) {
          return (
            <TeamMember
              img={member.image}
              name={member.name}
              position={member.position}
              twitter={member.social.twitter}
              github={member.social.github}
              instagram={member.social.instagram}
              linkedin={member.social.linkedin}
            />
          );
        }
      })
  }
</div>
